.dropDownMenu { 
    text-align: right;
    color: white;
}

* {
 background-color: black;
 color: white; 
}

.footer{
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0; 
}



